body {
font-family: Arial, sans-serif;
text-align: center;
margin-top: 15%;
background-color: #e3aef7;

}

button {
padding: 5px 10px;
font-size: 16px;
cursor: pointer;
background-color: #0078d7;
color: white;
border: none;
border-radius: 5px;

margin-top: 10px;
}

button:hover {

background-color: #005fa3;
}

#text {
font-size: 28px;
margin: 10px 0 10px 0;
}

#description {
    border: 2px solid black;
    background-color: rgb(189, 150, 244);
    margin-top: 15%;
    margin-bottom: 50%;
   margin: 0px;
   margin-left: 40%;
    padding: 12px;
    width: 18%;
    border-radius: 5px;
    text-align: center;
font-size: 20px;
color: #01000d;

}